$color-black: #000000;
$color-accent: #ff6336;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-bg-accent: #ff9c7d;
$color-bg-opportunity: #fff8e4;
$color-bg-boosting: #ffffff;
$color-bg-revolut: #c9e8f2;
$color-bg-raiting: #dabc98;
$color-bg-software: #dabc98;
$color-bg-integration: #ffffff;
$color-bg-lokalization: #ff9c7d;
$color-bg-footer: #eeeeee;